/node_modules
/public/hot
/public/upload
/public/storage
/storage/test
/storage/test/*
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
composer.lock

